<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleReg.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="countainer">
        <div class="d-img"><img class="img" src="bgImg.webp" /></div>

        <div class="d-form">
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">userName</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                        placeholder="userName">

                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                </div>

                <label for="gender">your Gender:</label>
                <select name="gender" id="gender">
                    <option value="volvo" selected>mail</option>
                    <option value="saab">femail</option>
                </select>

                <div class="content-btn">
      
                    <div class="d-btn-Reg "> <button id="btn-reg" type="submit" class="btn btn-primary">Registe</button></div>
                </div>

            </form>
            
        </div>
    </div>
</body>
<!-- cdn bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- cdn jq -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ajax link -->
<script src="../ajax.js"></script>

</html>