<html  dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="purchaseSh.css" />
</head>

<body>
    <div class="countainer">
       <div class="d-shoose">
        <img class="img-shoose-1 card-img-top" src="../../images/shoose1.jpg" alt="Card image shoose">
       </div>
       <div class="info-shoose1">
        <ul class="ul-shoose list-group list-group-flush">
            <li class="li-color list-group-item">رنگ:قرمز</li>
            <li class="list-group-item">سایز:44</li>
            <li class="list-group-item">جنس:خوب</li>
        </ul>
       </div>
    </div>


</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</html>